Repository cryostatio/cryostat-agent, pull requests merged in 2023-08, with the labels that each got.

#177 chore(license): change project license to Apache-2.0
  LICENSE
  LICENSE.txt
  src/main/java/io/cryostat/agent/Agent.java
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/Harvester.java
  src/main/java/io/cryostat/agent/HttpException.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/java/io/cryostat/agent/RegistrationException.java
  src/main/java/io/cryostat/agent/StringUtils.java
  src/main/java/io/cryostat/agent/WebServer.java
  src/main/java/io/cryostat/agent/model/DiscoveryNode.java
  src/main/java/io/cryostat/agent/model/PluginInfo.java
  src/main/java/io/cryostat/agent/model/RegistrationInfo.java
  src/main/java/io/cryostat/agent/remote/EventTemplatesContext.java
  src/main/java/io/cryostat/agent/remote/EventTypesContext.java
  src/main/java/io/cryostat/agent/remote/MBeanContext.java
  src/main/java/io/cryostat/agent/remote/RecordingsContext.java
  src/main/java/io/cryostat/agent/remote/RemoteContext.java
  src/main/java/io/cryostat/agent/remote/RemoteModule.java
Labels: chore, safe-to-test

#183 chore(CI): Update CI configs
  .github/workflows/check-labels.yml
  .github/workflows/ci.yaml
  .github/workflows/labeler.yml
Labels: chore, ci, safe-to-test

#176 feat(api): enable dynamic JFR stop, delete
  src/main/java/io/cryostat/agent/WebServer.java
  src/main/java/io/cryostat/agent/remote/EventTemplatesContext.java
  src/main/java/io/cryostat/agent/remote/EventTypesContext.java
  src/main/java/io/cryostat/agent/remote/MBeanContext.java
  src/main/java/io/cryostat/agent/remote/RecordingsContext.java
  src/main/java/io/cryostat/agent/remote/RemoteContext.java
Labels: feat, safe-to-test
