Repository cryostatio/cryostat-agent, pull requests merged in 2023-11, with the labels that each got.

#243 feat(baseuri): add baseuri-range config property to control servers the Agent will register with
  README.md
  src/main/java/io/cryostat/agent/Agent.java
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/util/StringUtils.java
  src/main/resources/META-INF/microprofile-config.properties
  src/test/java/io/cryostat/agent/URIRangeTest.java
Labels: backport, feat, safe-to-test

#143 feat(registration): receive platform env map from server on registration
  src/main/java/io/cryostat/agent/model/PluginInfo.java
Labels: backport, feat, safe-to-test

#249 feat(insights): optionally support Red Hat Insights agent
  pom.xml
  src/main/java/io/cryostat/agent/Agent.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/java/io/cryostat/agent/insights/InsightsAgentHelper.java
  src/test/java/io/cryostat/agent/insights/InsightsAgentHelperTest.java
Labels: backport, feat, safe-to-test

#262 build(cel): force override protobuf transitive dep used by CEL
  pom.xml
Labels: build, chore, safe-to-test

#267 feat(insights): add config parameter to opt out of Insights
  README.md
  src/main/java/io/cryostat/agent/insights/InsightsAgentHelper.java
  src/test/java/io/cryostat/agent/insights/InsightsAgentHelperTest.java
Labels: backport, feat, safe-to-test

#253 fix(triggers): improve whitespace handling
  src/main/java/io/cryostat/agent/triggers/SmartTrigger.java
  src/main/java/io/cryostat/agent/triggers/TriggerParser.java
  src/test/java/io/cryostat/agent/triggers/TriggerParserTest.java
Labels: backport, fix, safe-to-test

#270 docs(readme): add version compatibility matrix
  README.md
Labels: backport, docs, safe-to-test

#276 test(smart_triggers): add test case for single-quoted duration
  src/test/java/io/cryostat/agent/triggers/TriggerParserTest.java
Labels: test, safe-to-test
