Repository cryostatio/cryostat-agent, pull requests merged in 2023-09, with the labels that each got.

#195 fix(mbean): suppress warning message if BootClassPath unsupported
  src/main/java/io/cryostat/agent/remote/MBeanContext.java
Labels: fix, safe-to-test

#199 chore(readme): add badges to readme
  README.md
Labels: chore, safe-to-test

#200 build(pom): restore dagger compiler property
  pom.xml
Labels: build, chore, safe-to-test

#204 ci(jdk): also test on JDK 21
  .github/workflows/ci.yaml
Labels: ci, safe-to-test

#203 feat(discovery): dual HTTP+JMX registration
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: feat, safe-to-test

#198 chore(recordings): add InvalidEventTemplateException for bad start recording requests
  src/main/java/io/cryostat/agent/remote/RecordingsContext.java
Labels: chore, safe-to-test
