Repository cryostatio/cryostat-agent, pull requests merged in 2023-06, with the labels that each got.

#137 chore(version): bump version to 0.2.3-SNAPSHOT
  pom.xml
Labels: chore

#149 ci(secrets): allow ci to use gh package secrets
  .github/workflows/ci.yaml
Labels: ci, fix

#151 ci(pr-targets): use `safe-to-test` only on PR and trigger on label/unlabel
  .github/workflows/ci.yaml
Labels: ci, safe-to-test

#152 ci(mergify): add mergify config for `safe-to-test` label
  .mergify.yml
Labels: chore, ci, safe-to-test

#158 chore(ci): skip CI run on forks
  .github/workflows/ci.yaml
Labels: chore, ci, safe-to-test

#157 fix(registration): correctly annotate with JMX port number
  src/main/java/io/cryostat/agent/Registration.java
Labels: backport, fix, safe-to-test

#156 fix(credentials): store credentials with unique matchExpression
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/java/io/cryostat/agent/model/DiscoveryNode.java
Labels: backport, fix, safe-to-test
