Repository cryostatio/cryostat-agent, pull requests merged in 2023-01, with the labels that each got.

#29 fix(registration): do not restart harvester on refresh
  src/main/java/io/cryostat/agent/Agent.java
  src/main/java/io/cryostat/agent/Harvester.java
  src/main/java/io/cryostat/agent/Registration.java
Labels: fix

#30 feat(harvester): add config for maxAge/maxSize for exit uploads
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/Harvester.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: feat

#32 ci(dependabot): add config
  .github/CODEOWNERS
  .github/dependabot.yml
  pom.xml
  src/main/java/io/cryostat/agent/MainModule.java
Labels: ci

#41 feat(harvester): harvester push to per-agent API endpoint and add maxFiles configuration
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/Harvester.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: feat

#50 fix(max-files): encode value as string, not raw int bytes
  src/main/java/io/cryostat/agent/CryostatClient.java
Labels: fix

#44 fix(signals): handle shutdown signals cleanly on failed startup
  README.md
  src/main/java/io/cryostat/agent/Agent.java
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/java/io/cryostat/agent/WebServer.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: fix
