Repository cryostatio/cryostat-agent, pull requests merged in 2023-04, with the labels that each got.

#96 fix(periodic): config for maxage/maxsize to prevent recording upload timeouts due to large filesize
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/Harvester.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: feat

#102 build(config): update pom and add mergify for 2.3 release
  .mergify.yml
  pom.xml
Labels: build, chore

#103 chore(pom): correct project name
  pom.xml
Labels: backport, build, chore, fix

#110 docs(readme): document registration.prefer-jmx variable
  README.md
Labels: backport, docs
