Repository cryostatio/cryostat-agent, pull requests merged in 2023-10, with the labels that each got.

#197 feat(triggers): Add Support for defining MBean Triggers to the cryostat agent
  README.md
  pom.xml
  src/main/java/io/cryostat/agent/Agent.java
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/FlightRecorderHelper.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/model/MBeanInfo.java
  src/main/java/io/cryostat/agent/remote/MBeanContext.java
  src/main/java/io/cryostat/agent/triggers/SmartTrigger.java
  src/main/java/io/cryostat/agent/triggers/TriggerEvaluator.java
  src/main/java/io/cryostat/agent/triggers/TriggerParser.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: feat, safe-to-test

#217 feat(triggers): include smart-triggered recordings in Harvester upload logic
  README.md
  src/main/java/io/cryostat/agent/Agent.java
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/FlightRecorderHelper.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/java/io/cryostat/agent/harvest/HarvestModule.java
  src/main/java/io/cryostat/agent/harvest/Harvester.java
  src/main/java/io/cryostat/agent/remote/RecordingsContext.java
  src/main/java/io/cryostat/agent/triggers/TriggerEvaluator.java
  src/main/java/io/cryostat/agent/triggers/TriggerModule.java
  src/main/java/io/cryostat/agent/triggers/TriggerParser.java
  src/main/java/io/cryostat/agent/util/StringUtils.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: feat, safe-to-test

#220 feat(triggers): allow specification of triggers using SmallRye Config properties
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/triggers/TriggerEvaluator.java
  src/main/java/io/cryostat/agent/triggers/TriggerModule.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: feat, safe-to-test

#211 build(mvn): add mvn wrapper
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: build, chore, safe-to-test

#222 chore(release): prepare for cryostat 2.4.0 release
  .github/labeler.yml
  .mergify.yml
  pom.xml
Labels: chore, safe-to-test

#224 build(shade): shade and relocate dependencies to avoid conflicts
  .gitignore
  dependency-reduced-pom.xml
  pom.xml
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/remote/MutatingRemoteContext.java
  src/main/java/io/cryostat/agent/remote/RecordingsContext.java
  src/main/java/io/cryostat/agent/shaded/ShadeLogger.java
  src/main/resources/simplelogger.properties
Labels: backport, build, fix, high-priority, safe-to-test

#240 ci(dependabot): remove reviewers config
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: ci, safe-to-test
