Repository cryostatio/cryostat-agent, pull requests merged in 2024-07, with the labels that each got.

#429 docs(readme): update for 3.0.0/0.4.0 versions
  README.md
Labels: backport, docs, safe-to-test

#397 feat(CI): Build container image
  .github/workflows/ci.yaml
  .github/workflows/container-image.yml
Labels: ci, safe-to-test

#436 chore(ci): fix CI failure
  .github/workflows/container-image.yml
Labels: ci, safe-to-test

#257 feat(HTTPS): implement HTTPS keystore
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/WebServer.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: breaking change, docs, feat, needs-documentation, safe-to-test, ready-for-documentation

#390 build(image): add Dockerfile for agent carrier container image
  .containerignore
  .github/dependabot.yml
  .github/workflows/container-image.yml
  src/main/container/Dockerfile
Labels: build, feat, safe-to-test

#437 ci(container): fixup multiarch build, refactor
  .github/workflows/container-image.yml
Labels: ci, safe-to-test

#441 chore(libcryostat): clean up to use libcryostat dependency
  pom.xml
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/model/MBeanInfo.java
  src/main/java/io/cryostat/agent/remote/MBeanContext.java
  src/main/java/io/cryostat/agent/remote/RecordingsContext.java
Labels: chore, dependencies, safe-to-test
