Repository cryostatio/cryostat-agent, pull requests merged in 2024-10, with the labels that each got.

#469 feat(API): update Agent to use V4 endpoints
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/insights/InsightsAgentHelper.java
  src/main/java/io/cryostat/agent/model/KeyValue.java
  src/main/java/io/cryostat/agent/model/MBeanInfo.java
  src/main/java/io/cryostat/agent/model/PluginInfo.java
  src/test/java/io/cryostat/agent/insights/InsightsAgentHelperTest.java
Labels: feat, safe-to-test

#492 feat(diagnostics): Add API handler for invoking GC
  README.md
  pom.xml
  src/main/java/io/cryostat/agent/remote/InvokeContext.java
  src/main/java/io/cryostat/agent/remote/RemoteModule.java
Labels: feat, safe-to-test

#497 build(commons): add missing commons-lang dep which is used via transitive import
  pom.xml
Labels: build, dependencies, safe-to-test

#491 feat(tls): agent can pass TLS client auth cert
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/java/io/cryostat/agent/WebServer.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: feat, safe-to-test

#511 fix(json): add no-arg constructor and setters to KeyValue
  src/main/java/io/cryostat/agent/model/KeyValue.java
Labels: fix, safe-to-test

#503 fix(config-list): allow list indices using underscores for env vars
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
Labels: fix, safe-to-test

#508 feat(versions): record own build info/version as properties, validate server version
  pom.xml
  src/main/java/io/cryostat/agent/Agent.java
  src/main/java/io/cryostat/agent/BuildInfo.java
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/java/io/cryostat/agent/VersionInfo.java
  src/main/java/io/cryostat/agent/model/ServerHealth.java
  src/main/java/io/cryostat/agent/util/ResourcesUtil.java
  src/main/resources/versions.properties
  src/test/java/io/cryostat/agent/SemverTest.java
  src/test/java/io/cryostat/agent/VersionInfoTest.java
  src/test/java/io/cryostat/agent/model/ServerHealthTest.java
Labels: feat, safe-to-test

#515 fix(semver): handle unparseable version strings by returning UNKNOWN instead of throwing
  src/main/java/io/cryostat/agent/VersionInfo.java
  src/main/java/io/cryostat/agent/model/ServerHealth.java
  src/test/java/io/cryostat/agent/SemverTest.java
Labels: fix, safe-to-test

#507 feat(tls): add configuration options for supplying bare TLS server key
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: feat, safe-to-test
