Repository cryostatio/cryostat-agent, pull requests merged in 2024-02, with the labels that each got.

#311 fix(pom): remove classpath manifest entry
  pom.xml
Labels: backport, fix, safe-to-test

#335 ci(central): add configurations for JReleaser publication to Maven Central
  .github/workflows/maven-central-release.yml
  .github/workflows/maven-publish.yaml
  pom.xml
  release.sh
Labels: chore, ci, safe-to-test

#339 ci(dependabot): remove config for GH mvn pkgs
  .github/dependabot.yml
Labels: safe-to-test

#344 fix(tls): use TLSv1.2
  src/main/java/io/cryostat/agent/MainModule.java
Labels: backport, fix, safe-to-test
