Repository cryostatio/cryostat-agent, pull requests merged in 2024-08, with the labels that each got.

#448 feat(TLS): HTTPS client truststore
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/TruststoreConfig.java
Labels: feat, safe-to-test

#453 ci(jreleaser): enable publishing with libcryostat -SNAPSHOT dependency
  .github/workflows/maven-central-release.yml
  pom.xml
Labels: ci, safe-to-test

#455 ci(snapshot): publish snapshot builds on merge to main
  .github/workflows/ci.yaml
  .github/workflows/maven-central-publish.yml
  release-snapshot.sh
Labels: ci, safe-to-test

#456 ci(build): split CI for PRs from pushes
  .github/workflows/ci.yaml
  .github/workflows/pr-ci.yaml
Labels: ci, safe-to-test

#454 chore(configs): renaming config properties cleanup
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/MainModule.java
Labels: chore, safe-to-test

#464 build(deps): bump org.slf4j.version from 2.0.12 to 2.0.13
  pom.xml
Labels: chore, dependencies, safe-to-test

#465 build(deps): bump io.smallrye.config.version from 3.4.3 to 3.5.4
  pom.xml
Labels: chore, dependencies, safe-to-test, needs-triage

#444 feat(auth): apply auth map fn on every request
  src/main/java/io/cryostat/agent/AuthorizationType.java
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: feat, safe-to-test

#461 feat(TLS): allow users to import whole truststore + pass
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/TruststoreConfig.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: feat, safe-to-test
