Repository cryostatio/cryostat-agent, pull requests merged in 2024-06, with the labels that each got.

#408 chore(release): update mergify config
  .mergify.yml
Labels: chore, safe-to-test

#409 chore(release): prepare for release
  .mergify.yml
  pom.xml
Labels: chore, safe-to-test

#411 chore(log): update log levels
  src/main/java/io/cryostat/agent/Agent.java
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/java/io/cryostat/agent/WebServer.java
  src/main/java/io/cryostat/agent/harvest/Harvester.java
  src/main/java/io/cryostat/agent/triggers/TriggerParser.java
Labels: backport, chore, safe-to-test

#414 fix(registration): JMX URL defaults to reusing callback host part
  README.md
  src/main/java/io/cryostat/agent/ConfigModule.java
  src/main/java/io/cryostat/agent/MainModule.java
  src/main/java/io/cryostat/agent/Registration.java
  src/main/resources/META-INF/microprofile-config.properties
Labels: backport, fix, safe-to-test
