Repository cryostatio/cryostat-agent, pull requests merged in 2025-09, with the labels that each got.

#698 ci(central): add JReleaser env vars for release publication
  .github/workflows/maven-central-publish.yml
Labels: backport, chore, ci, safe-to-test

#671 feat(diagnostics): Add endpoint for triggering heap dumps
  src/main/java/io/cryostat/agent/CryostatClient.java
  src/main/java/io/cryostat/agent/remote/InvokeContext.java
Labels: feat, safe-to-test

#708 fix(diagnostics): Only check parameters for requestid for heap dumps
  src/main/java/io/cryostat/agent/remote/InvokeContext.java
Labels: fix, safe-to-test

#715 Revert "build(deps): bump io.smallrye.config.version from 3.13.4 to 3.14.0 (#710)"
  pom.xml
Labels: needs-triage
